<div class="page-container">

  <app-navbar pageTitle="Quizzes Management Dashboard"></app-navbar>

  <div class="table-card">

    <div class="table-header">
      <h2>All Quizzes List</h2>
      <button class="btn-primary" (click)="openCreateQuizModal()">
        <i class="bi bi-plus-lg"></i> Create New Quiz
      </button>
    </div>

    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>No</th>
            <th>Quiz Title</th>
            <th>Description</th>
            <th class="actions-col">Actions</th>
          </tr>
        </thead>
        <tbody>

          @if (isLoading) {
            <tr><td colspan="4" class="text-center">Loading quizzes data...</td></tr>
          }
          @else if (errorMessage) {
            <tr><td colspan="4" class="text-center error-msg">{{ errorMessage }}</td></tr>
          }
          @else if (quizzes.length === 0) {
            <tr><td colspan="4" class="text-center">No quizzes found. Click 'Create New Quiz' to add one.</td></tr>
          }

          @else {
            @for (quiz of quizzes; track quiz.id; let i = $index) {
              <tr>
                <td>{{ (i + 1) < 10 ? '0' + (i + 1) : (i + 1) }}</td>
                <td class="fw-bold">{{ quiz.title }}</td>
                <td class="text-muted">{{ quiz.description || 'No description provided' }}</td>
                <td>
                  <div class="action-icons">
                    <i class="bi bi-eye" title="View" (click)="viewQuiz(quiz)"></i>
                    <i class="bi bi-pencil-square" (click)="editQuiz(quiz.id)" title="Edit Questions"></i>
                    <i class="bi bi-trash danger" title="Delete"></i>
                  </div>
                </td>
              </tr>
            }
          }

        </tbody>
      </table>
    </div>
  </div>
</div>
@if(isModalOpen){
  <app-create-quiz
  (closeModal)="isModalOpen=false"
  (quizCreated)="fetchQuizzes()">
  </app-create-quiz>
}
@if (isBuilderModalOpen) {
  <app-quiz-builder
    [quizId]="selectedQuizId"
    [nextOrder]="selectedNextOrder"
    (closeModal)="isBuilderModalOpen = false">
  </app-quiz-builder>
}
@if (isViewModalOpen && selectedViewQuiz) {
  <app-view-quiz
    [quiz]="selectedViewQuiz"
    (closeModal)="isViewModalOpen = false">
  </app-view-quiz>
}
