<div class="modal-overlay">
  <div class="modal-card">

    <div class="modal-header">
      <h3>Create New Quiz</h3>
      <button class="btn-close-icon" (click)="closeModal.emit()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">

        @if (errorMessage) {
          <div class="alert-error">{{ errorMessage }}</div>
        }

        <div class="form-group">
          <label>Quiz Title</label>
          <input type="text" formControlName="title" class="form-control" placeholder="e.g. Midterm Evaluation">
          @if (f['title'].invalid && f['title'].touched) {
            <small class="error-text">Title is required (min 3 characters).</small>
          }
        </div>

        <div class="form-group mt-3">
          <label>Description</label>
          <textarea formControlName="description" class="form-control" rows="3" placeholder="What is this quiz about?"></textarea>
          @if (f['description'].invalid && f['description'].touched) {
            <small class="error-text">Description is required.</small>
          }
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn-cancel" (click)="closeModal.emit()">Cancel</button>
        <button type="submit" class="btn-primary" [disabled]="isLoading">
          {{ isLoading ? 'Saving...' : 'Save Quiz' }}
        </button>
      </div>
    </form>

  </div>
</div>
